:root {
  --bs-blue: #0d6efd;
  --bs--voilet: #5300f4;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --btn-yellow-hover: #ffc107;
  --btn-yellow: #ffda00;
  --image-yellow: #fcf7e7;
  --txt-grey: #918c9b;
}
@font-face {
  font-family: plus4;
  src: url(../../assets/PlusJakartaSans-SemiBold.f004b61a.ttf);
}
@font-face {
  font-family: plus1;
  src: url(../../assets/PlusJakartaSans-Bold.59d831d2.ttf);
}
@font-face {
  font-family: plus2;
  src: url(../../assets/PlusJakartaSans-Medium.1d0ee317.ttf);
}

.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  position: relative;
}
.skill-image {
  border-radius: 2rem;
  width: 83rem;
  height: calc(100vh - 4rem);
}
.skill-content {
  margin-left: 3.5rem;
  /* background-color: rgb(133, 124, 124); */
  border-radius: 2rem;
  width: 83rem;
  height: calc(100vh - 4rem);
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-skill-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-skill-content h1 {
  margin-top: -6rem;
  font-size: 4.5rem;
  font-family: plus2;
  color: white;
  font-weight: 500;
}
.top-skill-content h1 span {
  color: var(--btn-yellow);
}
.skill-para {
  text-align: center;
  margin-top: -2rem;
}
.top-skill-content p {
  font-size: 1.2rem;
  margin-top: -1.5rem;
  font-family: plus4;
  color: var(--txt-grey);
}

.skill-btn {
  margin-bottom: 3rem;
  margin-top: 1rem;
  border: none;
  padding: 1rem 3rem;
  background-color: var(--bs--voilet);
  color: white;
  font-family: plus4;
  font-size: 1.3rem;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
  transition: all 0.3s linear;
  cursor: pointer;
}
.skill-btn::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.357),
    rgba(255, 255, 255, 0) 70%
  );

  top: 0%;
  left: -100px;
  animation: shine 3.5s infinite linear;
}
@keyframes shine {
  0% {
    left: -100px;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

/* animation */

.skill-btn:hover {
  border: none;
  background-color: white;
  color: var(--bs--voilet);
}

.bottom-skill-content {
  width: 100%;
  height: fit-content;
  margin-bottom: -3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
